.add-book-btn {
  height: 50px;
  width: 50px;
  border-radius: 50%;

  background-color: #E9C46A;
  background-image: url('./assets/images/add-book-light.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 30px 30px;

  position: absolute;
  bottom: 80px;
  right: 30px;

  transition: all 0.5s;
  cursor: pointer;

  &:hover {
    transform: scale(1.1);
    background-color: #E76F51;
    background-image: url('./assets/images/add-book-dark.png');
  }

  #add-book-icon {
    height: 30px;
    width: 30px;

    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}